.vscode
*.exe
*.o
*.so
*.sln
*.vcxproj
*.vcxproj.filters
*.puml

# CMAKE build folder
cmake-build-debug
CMakeCache.txt
cmake_install.cmake


# IDEA Project folder
.idea

lib/
build/
bin/
CMakeFiles/
main/

ft_lib
ft_cli